.App {
  text-align: center;
  background-color: antiquewhite;
  min-height: 100vh;
}
.heading {
  background-color: blueviolet;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;
}
.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
  padding: 2rem;
}
.container > * {
  box-sizing: border-box;
  height: 100%;
  background-color: cadetblue;
  min-height: 400px;
  min-width: 50%;
  flex-grow: 1;
}
